<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<SqlServerName>localhost\SQLEXPRESS</SqlServerName>-->
  <!-- Optional -->
  <DatabaseName>Pharmacy</DatabaseName>
  <!-- Optional when using LocalDB -->
  <DatabaseFilePath>C:\Users\NitPaul\Documents\Pharmacy.mdf</DatabaseFilePath>
  <!-- Optional -->
  <!--<UserId>admin</UserId>-->
  <!-- Optional if Integrated Security -->
  <!--<Password>admin123</Password>-->
  <!-- Optional if Integrated Security -->
</configuration>
